<nav>
   <button> <a routerLink="/employees-component">Employees</a></button>
   <button><a routerLink="/students-component">Students</a></button>
</nav>


{{title}}
<div class="form-group">
    
<label>Name</label>
<input #name class="form-control">
    
</div>
<div class="form-group">
    
    <label>Marks</label>
    <input #mark class="form-control">
        
    </div>
    
<div class="form-group">
    
    <a (click)="TransferData(name.value,mark.value)">Submit</a>
    </div>
    
    <span>{{response}}</span>
<app-child [namedata]="inputname"[markdata]="inputmark"[objectdata]="inputobject"(dataupdateevent)="updateTitle($event)"></app-child>

<app-forms></app-forms>
<app-products>
    <p class="title">Phone</p>
    <button class="btn">Buy</button>
</app-products>
<router-outlet></router-outlet>